body{
    margin: 0;
}


#header{
    background-color: rgb(63, 136, 135);
    padding-bottom: 0.4px;
   
}
#logo{
    width: 50vw;
    margin: 0 auto;
}
#logo img{
    width: 80%;
}

nav{
    width: 50vw;
    margin: 0 auto;
   
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.5vw;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    transition: background 700ms;
}

nav ul a:hover{
 cursor: pointer;
 background: rgb(53, 113, 88);
}


