*{
    overflow-x: hidden;
}
body{
    margin: 0;
    overflow-x: hidden;
}

/* HEADER SECTION */
#header{
    background-color: rgb(63, 136, 135);
    padding-bottom: 0.4px;
    width: 100vw;
   
}
#logo{
    width: 50vw;
    margin: 0 auto;
}
#logo img{
    width: 80%;
    margin-left: 6vw;
}

nav{
    /* width: 50vw; */
    margin: 0 auto;
   
}

nav ul{
    list-style-type: none;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    font-size: 1.3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li{
    margin-left: 1rem;
}
nav a{
    text-decoration: none;
    /* border: 2px solid red; */
    color: black;
    padding: 0.3rem;
    transition: background 700ms;
}

nav ul a:hover{
 cursor: pointer;
 background: rgb(53, 113, 88);
 border-radius: 0.2rem;
}

/* MAIN SECTION */
main{
    display: grid;
    grid-template-rows: auto;
}
/* #decor{ */
    /* position: absolute; */
    /* background: transparent; */
    /* background: linear-gradient(rgb(104, 104, 225), rgb(89, 198, 89), rgb(218, 218, 77), rgb(196, 78, 78)); */
    /* background: transparent; */
    /* width: 3vw; */
    /* height: inherit; */
    /* border: 2px solid red; */
    /* transform: rotate(10deg); */
    /* animation: decor 8500ms infinite; */
    /*  */
/*  */
/* } */
/* @keyframes decor{ */
   /* 0%{transform: translateX(0px);} */
   /* 33%{transform: translateX(500px);} */
   /* 50%{transform: translateX(1100px);} */
   /* 66%{transform: translateX(500px);} */
   /* 100%{transform: translateX(0px);} */
/* } */

#promotion{
    width: 100vw;
    height: 70vh;
    font-family: Geneva, Tahoma, sans-serif;
    padding-top:2rem;
    padding-bottom: 0.7rem;
    margin-bottom: 4rem;
    background-image: url(Assets/promotion.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: sepia(0.3); */

}
#promotion *{
    margin-left: 3rem;
}
#promotion p:nth-of-type(1){
    width: 60vw;
    font-size: 1.5vw;
    letter-spacing: 1pt;
    word-spacing: 1pt;
    line-height: 1.5;
}
#promotion p:nth-of-type(2){
    font-weight: 600;
    letter-spacing: 1pt;
    /* word-spacing: 1pt; */
}


/* ARTICLE PAGE */
#articles{
    width: 80vw;
    border: 2px solid red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    /* -webkit-column-gap: 1rem; */
    column-gap: 1rem;
}
article{
    /* border: 2px solid rgb(199, 192, 192); */
    width: 30%;
    box-shadow: 2px 2px 10px rgb(136, 118, 118), -2px -2px 10px  rgb(136, 118, 118);
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    background-color: blanchedalmond;
    transition: 400ms;
    transition-timing-function: ease-out;
    filter: blur(0.7px);
    filter: sepia(0.7);
}
article img{
    width: 100%;
}
article p, article a{
    font-size: 2.5vh;
}
article p, article a, article h6{
    margin: 0.8rem 0.5rem;
}
article a{
    text-decoration: none;
    color: rgb(107, 91, 91);
}
article:hover{
    transform: scale(1.1);
    filter: blur(0);
    filter: sepia(0);
}


/* FOOTER SECTION */

footer{
    width: 100vw;
    background-color: rgb(63, 48, 48);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 16pt;
}
footer div{
    display: inline-block;
    /* border: 2px solid red; */
    padding: 0.5rem;
}
footer div:nth-of-type(1){
    padding-top: 1.5rem;
    grid-column: 1/3;
}
footer div:nth-of-type(2){
    grid-column: 3/7;
}
footer img{
    width: 50%;
}

@media(max-width:900px){
    article{
        width: 70%;
        /* font-size: 30pt; */
    }
    nav ul{
        font-size: 80%;
    }
}

@media(max-width:500px){
    article{
        width: 90%;
    }
    nav li{
        margin-left: 0.4rem;
    }
    nav{
        margin-left: -3rem;
        /* justify-content: space-around; */
    }
    nav a{
        padding: 0.3rem;
    }

    #promotion{
        padding-left: 0;
        /* margin-left: -1rem; */
    }
    #promotion p:nth-of-type(1){
        font-size: 3.4vw;
    }
    /* header{ */
        /* width: 100%; */
    /* } */
    #promotion{
        width: 100%;
    }
    footer img{
        width: 100%;
        /* height: 25%; */
    }
    footer{
        font-size: 11pt;
    }
}